.pagelet-preview .pagelet-edit-link {
	display: none;
}

.pagelet-preview {
	margin-bottom: 1em;
}

.page-title {
	font-size: 140%;
	font-weight: bold;
	margin: 1em 0 0.5em 0;
}

#pagelet-form table {
    width: 100%;
}

.pagelet-submit {
	text-align: right;
}

#pagelet-form ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#pagelet-form li {
	margin-bottom: 1em;
	list-style-type: none;
}

#pagelet-form ul label {
	display: block;
	margin-bottom: 0.5em;
	font-size: 120%;
	font-weight: bold;
}