<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	{% block meta %}{% endblock %}
	<title>django-pagelets: {% block title %}{% endblock %}</title>
	<link rel="stylesheet" href="{{ STATIC_URL }}css/pagelets.css" type="text/css" media="screen" title="no title" charset="utf-8">
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
	{% block javascript %}{% endblock %}
</head>

<body>
    <h1>django-pagelets</h1>
    {% block content %}{% endblock %}
</body>
</html>
