{% extends "base.html" %}

{% load pagelet_tags %}

{% block title %}Edit Pagelet{% endblock %}

{% block javascript %}
	{% if caktcms_pagelet_head_js %}
		{% include caktcms_pagelet_head_js %}
	{% endif %}
    <script type="text/javascript" src="{{ MEDIA_URL }}wymeditor/jquery.wymeditor.js"></script>
{% endblock %}

{% block content %}


{% if pagelet_preview %}
    <h3>Preview {% if pagelet_preview.slug %}{{ pagelet_preview.slug }}{% else %}pagelet #{{ pagelet_preview.pk }}{% endif %}</h3>

	<div class='pagelet-preview'>
		{% render_pagelet pagelet_preview %}
	</div>
    <form id='pagelet-preview-form' class='modify-pagelet' accept-charset='UTF-8' method='post' action=''>
    {{ preview_form }}
        <input type='submit' name='save_btn' value='Save &rarr;' />
    </form>
{% endif %}

<h3>Edit {% if pagelet.slug %}{{ pagelet.slug }}{% else %}pagelet #{{ pagelet.pk }}{% endif %}</h3>

<form id='pagelet-form' class='modify-pagelet' accept-charset='UTF-8' method='post' action=''>
	<table border='0' cellspacing='0' cellpadding='0' class='spacing'>
        {{ form }}
		<tr>
			<td>&nbsp;</td>
			<td class="submit">
				<input type='submit' name='preview_btn' value='Preview &rarr;' />
			</td>
		</tr>
	</table>
</form>
<script type='text/javascript'>
function setEditor() {
    value = jQuery('#id_type').find('>:selected').val();
    if (value == 'wymeditor') {
        jQuery('#id_content').wymeditor({
            updateSelector: "input:submit",
            updateEvent: "click",
        });
    } else {
        content_div = jQuery('#id_content');
    	content_div.siblings('div.wym_box').remove();
        content_div.css('display', 'inline');
    }
}

jQuery(function() {
    jQuery('#pagelet-form #id_type').change(function(event) {
        setEditor();
    });
    setEditor();
});
</script>
{% endblock %}
